/* 表：一覧表示、詳細表示 */
table.list, table.attr {
    font-size: 110%;
    width: auto;
  }
  
  table.list th, table.attr th {
    background-color: #333;
    color: #ffcc00;;
    font-weight: normal;
  }
  
  table.list td, table.list th,
  table.attr td, table.attr th {
    padding: 4px 8px;
    line-height: 1.2;
  }
  
  table.list th {
    text-align: left;
  }
  
  table.attr th {
    text-align: right;
  }
  
  table.list td, table.attr td {
    background-color: rgb(191, 201, 201);
  }